body {
  background-image: url('bg2.jpg');
  background-size: 100% ;
  background-repeat: no-repeat;
      
}

h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #f9f9f9;
    size: 50%;
    text-align: center;
   }
 
  p{
   font-family: Georgia, 'Times New Roman', Times, serif;
   font-weight: 200;
   font-size: 20px;
   color: aliceblue;
 
  } 
  .bg{
   opacity: 0.5;
  }
 
 
 .button1 {
     font-size: 16px;
     transition-duration: 0.4s;
     position: relative;
     display: inline-block;
     padding: 15px 25px;
     cursor: pointer;
     border-radius: 15px;
     box-shadow: 0 9px #999;
   }
   
   .button1:hover {
     background-color: #3132de; /* Green */
     color: white;
   }
 
   .btn{
     border-radius: 12px;
     text-align: center;
   }
 
   .donr{
     text-align: center;
     bottom: 0;
     padding-bottom: 15px 0;
     position:relative;
     left: 0;
     display: inline-block;
     
   }
   .dropdown {
     display: none;
     position: absolute;
     
     min-width: 10px;
     box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
     z-index: 1;
   }
   
   .dropdown a {
     color: rgb(239, 239, 239);
     padding: 12px 16px;
     text-decoration: none;
     display: block;
   }
   
   .dropdown a:hover {background-color: #3148e2;}
   
   .donr:hover .dropdown {
     display: block;
   }
