<html>
<head>
<link rel="stylesheet" href="{{ url_for('static', filename='dmain.css') }}">
<meta charset="UTF-8">
<title> Register </title>
</head>

<body>
<h1>PLASMA DONOR APPLICATION</h1>
<center>
<div class="bg">
        </div>
            <div class="Donr">
                <p>Are you Donor?</p>
                <button class="button1">Click here</button>
                <div class="dropdown" >
                 <a href= "/register" class="btn">Register</a>
                    <a href= "/login" class="btn">login</a>
                </center>
                </div>
            </div>  
</body>
</html>
